.DS_Store
.dart_tool/
.idea/

.packages
.pub/
pubspec.lock

build/

# VSCode settings
.vscode/

android/.settings/
android/.classpath
android/.project
example/android/.settings/
example/android/.classpath
example/android/.project
example/android/app/.settings/
example/android/app/.classpath
example/android/app/.project

# FVM
.fvm/